<div class="bg-dark text-white fixed-bottom">
    <p>Footer</p>
    <!--
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Tipo</th>
                <th scope="col">Nombre</th>
                <th scope="col">Edad</th>
            </tr>
        </thead>
        <tbody>
            <!-- index toma el id de los array
            <tr *ngFor="let animal of animales; index as i">
                <th scope="row">{{i+1}}</th>
                <td>{{animal.tipo}}</td>
                <td>{{animal.nombre}}</td>
                <td>{{animal.edad}}</td>
            </tr>

        </tbody>
    </table> -->
</div>