<div class="mt-5">
    <h1>Nosotros</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt sed suscipit esse quos incidunt ratione sequi maiores
    quia tenetur dolore, dolorem soluta eaque, et necessitatibus! Officiis sunt doloremque eum eius. asdsldas</p>

    <ul class="list-group">
        <li class="list-group-item" *ngFor='let item of equipo'>
            <h6>Nombre: {{item.name}}</h6>
            <h6>Especialidad: {{item.especialidad}}</h6>
            <h6>Descripcion: {{item.descripcion}}</h6>
            <a href="#">Leer mas...</a>
        </li>
      </ul>
</div>