<app-navbar></app-navbar>

<h1 class="container bg-dark text-white text-center my-4 py-4">Rutas</h1>

<div class="container">

    <router-outlet></router-outlet>
    <app-footer></app-footer>
    <!--
    <ul>
        <!-- Iterar un array dentro de HTML (El Array se encuentra en ts)
        <li *ngFor="let curso of cursos">{{curso}}</li>
    </ul>
        -->

    <!-- ngClass
    <button class="btn btn-dark mb-3 mr-4" (click)="activo='primero'">Primero</button>
    <button class="btn btn-danger mb-3" (click)="activo='segundo'">Segundo</button>
    

    <!-- Introducir clase en el parrafo-->
    <!--
    <p class="text-info d-none" [ngClass]="{'d-block':activo=='primero'}">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus
        similique a consequatur assumenda dolores
        quam sapiente modi ipsa vero earum molestias facilis suscipit culpa tempora quod, ullam aliquid, doloremque vel!
    </p>

    <p class="text-danger d-none" [ngClass]="{'d-block':activo=='segundo'}">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro repellendus amet dolorem,
        sapiente alias,
        quibusdam fugiat non similique veniam ea tenetur voluptatum exercitationem ex doloremque doloribus?
        Inventore
        commodi voluptates molestias!
    </p>
    -->

    <!-- ngIf y Else -->
    <!--
    <button class="btn btn-warning" (click)="show=!show">Action</button>
    <p class="text-info" *ngIf="show; else show2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus
        similique a consequatur assumenda dolores
        quam sapiente modi ipsa vero earum molestias facilis suscipit culpa tempora quod, ullam aliquid, doloremque vel!
    </p>

    -->
    <!-- Plantilla show 2, va todo lo que se quiere visualizar con el else
    <ng-template #show2></ng-template>
        <p class="text-danger">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro repellendus amet dolorem,
            sapiente alias,
            quibusdam fugiat non similique veniam ea tenetur voluptatum exercitationem ex doloremque doloribus?
            Inventore
            commodi voluptates molestias!</p>
    </ng-template>
    -->

</div>