<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['/']">App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLinkActive="active" [routerLink]="['/contact']">Contacto <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" routerLinkActive="active" [routerLink]="['/nosotros']">Nosotros</a>
        <a class="nav-item nav-link" routerLinkActive="active" href="#">Pricing</a>
        <a class="nav-item nav-link" routerLinkActive="active" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </div>
    </div>
  </nav>