<div class="mt-5">
    <h1>Inicio</h1>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi voluptatum error adipisci neque accusamus
    molestias maiores! Sapiente suscipit amet, consectetur non unde quaerat aliquam sequi minima animi. Fugit, unde
    sint.
</div>